<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>title</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="topbar">
      <nav>
        <ul class="nav-list">
          <a class="nav-link" href="/">
            <li>Home</li>
          </a>
          <a class="nav-link" href="/admin/product">
            <li>Shop</li>
          </a>
          <a class="nav-link" href="/admin/add-product">
            <li>Add Product</li>
          </a>
        </ul>
      </nav>
    </div>
    <h1>404 NOT FOUND</h1>
  </body>
</html>
