doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title Document
    body 
        div.topbar
            nav
                ul.nav-list
                     li  
                      a(href='/').nav-link    Home
                     li  
                      a(href='/product').nav-link   Shop
                     li  
                      a(href='/admin/add-product').nav-link   Add Product
                    
